/**
  Override _header.scss
*/
.global-header {
  @include media-breakpoint-up(lg) {
    .nav-links {
      .secondary {
        // Sign in, Register and Shopping Cart buttons
        .btn {
          border: 1px solid theme-color("primary");
          padding: $baseline/4 $baseline;
          border-radius: $baseline/4;
          cursor: pointer;
          text-decoration: none;
        }

        a.sign-in-btn,
        .nav-item a.shopping-cart {
          background-color: theme-color("primary");
          color: theme-color("inverse");
          border: 1px solid theme-color("inverse");
          font-weight: $font-weight-normal;
          padding: $baseline/4 $baseline;

          &:hover {
            background-color: theme-color("inverse");
            color: theme-color("primary");
            border-color: theme-color("primary");
          }
        }

        a.register-btn {
          background: theme-color("inverse");
          color: theme-color("primary");
          font-weight: $font-weight-normal;

          &:hover {
            background-color: theme-color("primary");
            color: theme-color("inverse");
          }
        }
      }
    }
  }
}
